<h1>Ask me something</h1>

<form action="/answer" method="get">
  <label for="question">Speak to your coach</label><br>
  <input type="text" id="question" name="query" placeholder="what time is it?">
  <input type="submit" value="Go on!" class="btn btn-primary">
</form>